# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# VS Code/IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Mac
.DS_Store

# Python virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Output directories
mhgf2/
outputs/
logs/
*.pth

# Test, cache, temp
*.bak
*.tmp
.cache/
*.log

# Misc
*.csv
*.json
